body, html { height: 100%; }

#usernameError {
   color: red;
}

#title {
   font-size: 2em;
}

#header {
   padding: 1.5%;
   background-color: thistle;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    background-color: black;
    color: white;
    align-self: stretch;
}

.page-body {
    width: 100%;
    background-color: #bfd8bf;
}

#usersOnline {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin-bottom: 10px;
    height:150px;
    overflow-y: auto;
}

#usersOnline li {
   margin: 3px;
   min-width: 20%;
}

#usersOnline li:before {
    content: "•";
    padding-right: 16px;
    color: #71ff71;
}

#chat {
   height: 60vh;
   margin:0;
   padding:2px;
   overflow-y: auto;
   word-break: break-all;
   word-wrap: break-word;
}

#chatInput {
    width: 100%;
    padding:3px;
}

#closeSidebar {
    cursor: pointer;
}

#playarea {
    display: block;
    margin: 0 auto;
    background-image: url('assets/swirl_pattern.png');
}

#logoutBtn {
    color: inherit;
}
