body, html { height: 100%; }

#main-container {
   width: 100%;
}

.content-row {
   display: flex;
   flex-wrap: wrap;
}

#usernameError {
   color: red;
}

#title {
   font-size: 2em;
}

#header {
   padding: 20px;
}

#sidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 100;
   padding-top: 20px;
   background-color: black;
   color: white;
}

.page-body {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;

}

#usersOnline {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin-bottom: 10px;
    height:150px;
    overflow-y: auto;
}

#usersOnline li {
   margin: 3px;
   min-width: 20%;
}

#usersOnline li:before {
    content: "•";
    padding-right: 16px;
    color: #71ff71;
}

#chat {
   height: 70%;
   width: 100%;
   margin:0;
   padding:2px;
   border:1px inset white;
   overflow-y: auto;
   word-break: break-all;
   word-wrap: break-word;
}

#chatInput {
   width: 100%;
}
