body, html { height: 100%; }

#main-container {
   width: 100%;
    max-width: none;
}
/*
.content-row {
   display: flex;
   flex-wrap: wrap;
}
*/

#usernameError {
   color: red;
}

#title {
   font-size: 2em;
}

#header {
   padding: 1.5%;
   background-color: thistle;
}

.wrapper {
    display: flex;
    width: 100%;
    padding:0;
    wrapper:0;
    align-items: stretch;
}

#sidebar {
    /*
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    */
    width: 300px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

.page-body {
    width: 100%;
}

#usersOnline {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin-bottom: 10px;
    height:150px;
    overflow-y: auto;
}

#usersOnline li {
   margin: 3px;
   min-width: 20%;
}

#usersOnline li:before {
    content: "•";
    padding-right: 16px;
    color: #71ff71;
}

#chat {
   height: 70%;
   width: 100%;
   margin:0;
   padding:2px;
   overflow-y: auto;
   word-break: break-all;
   word-wrap: break-word;
}

#chatInput {
    width: 100%;
    padding:3px;
}

#closeSidebar {
    cursor: pointer;
}

#playareaContainer {
    overflow-x: scroll;
    overflow-y: scroll;
}

#playarea {
    border: 1px solid black;
}

#logoutBtn {
    color: inherit;
}


/*
    facebook button
*/
.btn-facebook                               {color:#fff!important;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook:focus, .btn-facebook.focus    {color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover                         {color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}

.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook
{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}

.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus
{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}

.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook {background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus
{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.btn-facebook .badge
{color:#3b5998;background-color:#fff}
